<!-- Sidebar -->
<div class="sidebar">

    <div class="sidebar-container">

        <div class="logo">

            <!-- Link Icon -->
            <div class="icon">

                <img src="img/logo/2018/Logo-2018-500x500-Blue.png" />

            </div>

        </div>

        <div class="link">

            <!-- Dash Link -->
            <a ui-sref="Admin.Dashboard" ui-sref-active="active" class="links" ng-click="closeSidebar()">
                <li>

                    <!-- Icon -->
                    <div class="icon"><img src="img/icons/icons8-Home-64.png" /></div>

                    <!-- Link Title -->
                    Dashboard

                </li>
            </a>

            <!-- Dash Link -->
            <a ui-sref="Admin.Dashboard" ui-sref-active="active" class="links" ng-click="closeSidebar()">
                <li>

                    <!-- Icon -->
                    <div class="icon"><img src="img/icons/icons8-Home-64.png" /></div>

                    <!-- Link Title -->
                    Friends

                </li>
            </a>
            
            <!-- Dash Link -->
            <a ui-sref="Admin.All" ui-sref-active="active" class="links" ng-click="closeSidebar()">
                <li>

                    <!-- Icon -->
                    <div class="icon"><img src="img/icons/icons8-Bill-64.png" /></div>

                    <!-- Link Title -->
                    Our Schedules

                </li>
            </a>

            <!-- Life And Ministry -->
            <a ui-sref="Admin.New" ui-sref-active="active" class="links" ng-click="closeSidebar()">
                <li>

                    <!-- Icon -->
                    <div class="icon"><img src="img/icons/icons8-Bill-64.png" /></div>

                    <!-- Link Title -->
                    New Schedule

                </li>
            </a>

            <!-- Life And Ministry -->
            <a ui-sref="Admin.Maps" ui-sref-active="active" class="links" ng-click="closeSidebar()">
                    <li>
    
                        <!-- Icon -->
                        <div class="icon"><img src="img/icons/icons8-Bill-64.png" /></div>
    
                        <!-- Link Title -->
                        Territory
    
                    </li>
                </a>

            <!-- Logout Link -->
            <a href="login" ng-click="closeSidebar(); logout('admin')" class="links">
                <li>

                    <!-- Icon -->
                    <div class="icon"><img src="img/icons/icons8-SignOut-64.png" /></div>

                    <!-- Link Title -->
                    Logout

                </li>
            </a>

        </div>

    </div>

</div>