<html>
    <head>
        
        <!-- Base URL | Change to your URL -->
        <script>
            
            //Get Base Url
            var baseurl = window.location.origin + window.location.pathname;

            //Generate Base URl
            document.write('<base href="' + baseurl + '" />');
            

        </script>
        
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- WebApp Name -->
        <meta name="apple-mobile-web-app-title" content="MyKHInfo">
        
        <!-- Site Title -->
        <title>Kingdom Hall Info | Schedules For All</title>

        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" href="img/icons/HomeScreenIcons/KH-Home.png">
        
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <!-- JQuery -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        
        <!-- PrintThisJS -->
        <script src="node_modules/print-this/printThis.js"></script>
        
        <!-- Moments JS -->
        <script src="node_modules/moment/min/moment.min.js"></script>

        <!-- Fix To Top -->
        <script src="node_modules/fixto/dist/fixto.min.js"></script>
        
        <!-- Fix To Top -->
        <script src="node_modules/sticky-kit/dist/sticky-kit.min.js"></script>
        
        <!-- Angular -->
        <script src="node_modules/angular/angular.min.js"></script>
        
        <!-- UI-Router | Core -->
        <script src="node_modules/@uirouter/core/_bundles/ui-router-core.min.js"></script>
        <script src="node_modules/@uirouter/angularjs/release/ui-router-angularjs.min.js"></script>
        
        <!-- Session Storage -->
        <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>

        <!-- Ng-File-Upload -->
        <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

        <!-- KHI | Core -->
        <script src="scripts/core/custom/khi-core.js"></script>
        
        <!-- KHI | Entry Point -->
        <script src="scripts/app.js"></script>

        <!-- kAuth.js | Service -->
        <script src="shared/logic/factories/kAuth.js"></script>
        
    </head>
    <body ng-app="khi">
        
        <!-- Header -->
        <div class="header" ng-class="toggleHeader" ng-controller="header">
            
            <!-- Hamburger Icon | Toggle Sidebar -->
            <div ng-click="toggleSidebar(true)" ng-class="hamToggle" class="ham">
                <div class="pat1"></div>
                <div class="pat2"></div>
                <div class="pat3"></div>
            </div>
            
            <!-- Header Content -->
            <div class="header-content">
                
                <!-- Page Title -->
                <h1 class="page-title" ng-cloak>{{ title }}</h1>
                
            </div>

            <!-- Icon Links -->
            <div class="ico-links">

                <div class="ico-container">
                    <div class="ico" ui-sref="Login" ng-click="logout('guest')">
                        <img src="img/icons/icons8-sign-out-50.png" alt="">
                    </div>
                </div>

                <div class="ico-container">
                    <div class="ico" ng-click="refresh()">
                        <img src="img/icons/icons8-available-updates-50.png" alt="">
                    </div>
                </div>

            </div>
            
        </div>

        <div ng-controller="search-bar">

            <!-- Main Search -->
            <div class="main-searchbar">

                <!-- Search -->
                <input id="searchBAR" ng-model="toSearch" type="text" placeholder="Search">

                <!-- Search Button -->
                <div class="button search">
                    <img src="img/icons/icons8-search-50.png" alt="">
                </div>

                <!-- Search Button -->
                <div class="button cancel">
                    <img src="img/icons/icons8-close-window-50.png" alt="">
                </div>

            </div>

            <div class="searchBAR-container">

                <li><b>Search</b> - Coming Feb. 2017</li>

            </div>

        </div>
        
        <!-- Page -->
        <div class="page">
            
            <!-- Main View -->
            <ui-view name="main"></ui-view>
            
        </div>
        
        <!-- Sidebar -->
        <ui-view name="sidebar"></ui-view>
        
    </body>
</html>