<div class="login-container">
    
    <form class="login-form">
        
        <div class="logo"></div>
        
        <div class="links">
            
            <h3>Congregation | Login</h3>
            <input class="input" type="tel" keyboardType="nu" ng-model="pin" placeholder="Enter PIN">
            
            <!-- Login Button -->
            <button class="login-button" ng-click="login()" type="submit">
                <img src="../img/icons/Add%20Filled-50-white.png" />
            </button>
            
            <!-- Administration -->
            <button class="login small" ui-sref="Login-Admin">
                Administration
            </button>
            
            <!-- Create Account -->
            <button class="login small">
                Create Account
            </button>
            
        </div>
        
        
        <div ng-if="working" class="links">
            
            <h3>K.H.I. will be under construction until May 22, 2017. You are still able to login although schedules may or may not appear as they normally do.</h3>
            
        </div>
        
    </form>
    
</div>