//Body Color
$bodyClr: white;

//Header CLRS
$lightWhite: #f2f1ef;
$jwBlue: #2878bb;
$jwLightBlue: #799FCC;

//Sidebar Clr
$logoLightGrey: #eae9e6;

//Greens
$mainGreen: rgb(91,114,38);
$secondaryGreen: rgb(154,176,80);
$lightGreen: #BCCB89;

//Greys
$mainGrey: #65605e;
$lightGrey: #c3c3c3;

//Reds
$mainRed: rgb(157,62,53);
$seconaryRed: #BB6C65;

//Main Color
$mainClr: #90A4AE;

//Seconary Color
$secondaryClr: #78909C;

//Ham:Hover
$hamHoverClr: #455A64;

//Background Color
$bgClr: white;

//Text Color
$txtClr: white;