<div class="login-container">
    
    <div class="login-form">
        
        <div class="logo"></div>
        
        <div class="links">
            
            <!-- Login Type -->
            <h3>Master | Login</h3>
            
            <!-- Email -->
            <input class="input" type="email" ng-model="email" placeholder="Email">
            
                <br>
            
            <!-- Password -->
            <input class="input" type="password" ng-model="password" placeholder="Password">
            
            <!-- Login Button -->
            <button class="login" ng-click="loginMaster()">Login</button>
            
            <!-- User Switch -->
            <a href="#">
                <button class="login">
                    Blog
                </button>
            </a>
            
        </div>
        
    </div>
    
</div>