<!-- Sidebar -->
<div class="sidebar">

    <div class="sidebar-container">

        <div class="logo">

            <!-- Link Icon -->
            <div class="icon">

                <img src="img/khinfo2-white-Small.png" />

            </div>

        </div>

        <div class="link">

            <!-- Dash Link -->
            <a ui-sref="Master.Source" ui-sref-active="active" class="links" ng-click="toggleSidebar()">
                <li>
                    Source Material
                </li>
            </a>

            <!-- Logout Link -->
            <a ui-sref="Login-Master" ng-click="logout('master')" class="links" ng-click="toggleSidebar()">
                <li>
                    Logout
                </li>
            </a>

        </div>

    </div>

</div>