.sidebar {
    width: 299px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);

    .version {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 13px;
        padding: 10px 0;
        background-color: inherit;
    }
}

.sidebar-open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}